body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.splashpage{
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: springgreen;
  background-image: url('https://sg.fiverrcdn.com/photos/10702842/original/866d4ceb59d16da1c1d3e60fccde4475c7442ede.jpg?1435090299');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  text-decoration: none;
}
.splashclick{
  border: solid springgreen;
  box-shadow: 0px 0px 12px rgba(255, 255, 44, 0.884);
  border-radius: 25px;
  padding: 10px;
}
.splahclick :hover{
  background: black;
}
.link{
  text-decoration: none;
  color: springgreen;
 
}

.navbar{
  width: 100%;
  height: 60px;
  background: springgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin:0px;

}
.home{
  padding: 10px;
  text-decoration: none;
  color: white;
}
.page{
  width: 100%;
  
  background:linear-gradient(rgb(44, 44, 44),rgb(10, 10, 10));
  background-size: cover;
 margin-top: 0px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
 
.react-player {
  position: absolute;
  top: 0;
  
}
.songs{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.controls{
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: #00ff7f;
  border: solid black 1px;
  box-shadow: 0px 0px 7px rgb(255, 255, 96);
  margin: 15px;

}
.addSong{
  background: #00ff7f;
  height: 20px;
  border-radius: 10px;

}